body{
	background-color: #808080;
}
header{
	text-align: center;
	font-family:'Playfair Display', serif;
	color: white;
	font-size: 30px;
	text-decoration: underline;
}

.two-cities{
	margin-top: 100px;
	margin-left: 200px;
	display:grid;
	grid-template-columns: 1fr 1fr;
}
.ny-image{
	background-image: url("images/ny-image.jpeg");
	 height: 300px;
	 width: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
}
.uk-image{
	background-image: url("images/uk-image.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	height: 300px;
	 width: 300px;
	 border-radius: 25px;
}
.ny-text{
	font-family:'Playfair Display', serif;
	text-decoration: none;
	font-size: 30px;
	color: white;
	position: absolute;
	top: 50%;
	left: 24%;


}
.uk-text{
	font-family:'Playfair Display', serif;
	text-decoration: none;
	font-size: 30px;
	color: white;
	position: absolute;
	top: 50%;
	left: 66%;
	
}
@media(max-width: 1000px){
	.two-cities{
		display: flex;
		justify-content: flex-start;
		margin-left: 0;

	}
	.ny-image{
		margin-right: 10px;

	}
	

}
